<h1>Créditos</h1>

<img src="/images/albertoJ.jpg" width="35%" style="margin-left: 33%"/>

<p style="text-align: center">Alberto Jaramillo Serrano</p>

<img src="/images/davidS.jpg" width="40%" style="margin-left: 31%"/>

<p style="text-align: center">David Santos González</p>

<a href="https://github.com/albertojaramillo/quiz_2017_practica51">Repositorio GitHub</a>
