<h1>¿Qué es Quiz?</h1>

<p>Quiz consiste en responder una serie de preguntas cortas sobre distintos temas.<br></p>

<h1>¿Cómo funciona?</h1>

<p>Se responde introduciendo la solución a la pregunta en el cajetín correspondiente,
    y posteriormente presionando el botón comprobar.<br>
    Algunas preguntas vienen acompañadas de una pista para que la resolución sea más fácil.</p>

<h1>¿Cuál es su objetivo?</h1>

<p>Su objetivo es servir como herramienta educativa para poner a prueba los conocimientos de los participantes.</p>
